.FAQ__question {
    background: #F1F5F8;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 14px;
    background-color: #F1F5F8;
  }
  
  .FAQ__question:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .FAQ__answer--hidden {
    display: none;
    background: #F1F5F8;
  }

  .main-faq{
    display: flex;
    flex-flow: row;
    min-height: 380px;
    height: auto;
    padding: 110px 50px 10px 50px;
    background: #F1F5F8;
    @media (max-width: 800px) {
      flex-flow: column;
      padding: 60px 20px 60px 20px;
  }
    .content{
      width: 50%;
      padding:30px 30px 0 0;
      @media (max-width: 800px) {
        padding: 0;
    }
      .question{
        height: 85px;
        width: 330px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 48px;
        color: #000000;
      }
      .answer{
        padding-top: 35px;
        height: 74px;
        width: 450px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.01em;
        color: #1B1C31;
        @media (max-width: 800px) {
          height: fit-content;
          width: 95vw;
      }
      }
    }
    .faq{
      padding-left: 30px;
      width: 50%;
      @media (max-width: 800px) {
        padding-top: 50px;
        padding-left: 0px; 
        width: fit-content;
    }
    }
  }
  