.FAQ__question {
    border: none;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-family: 'Manrope';
  }
  
  .FAQ__question:hover {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Manrope';
  }
  
  .FAQ__answer--hidden {
    display: none;
    background: #F1F5F8;
    font-family: 'Manrope';
  }

  .main-faq{
    display: flex;
    flex-flow: row;
    min-height: 380px;
    height: auto;
    padding: 90px 50px 15px 50px;
    background: #F1F5F8;
    @media (max-width: 800px) {
      flex-flow: column;
      padding: 60px 20px 60px 20px;
  }
    .content{
      width: 50%;
      padding:30px 30px 0 0;
      @media (max-width: 800px) {
        padding: 0;
    }
      .question{
        font-family: 'Manrope';
        font-weight: 800;
        font-size: 2.5rem;
        color: #000000;
        @media (max-width: 800px) {
          width: 330px;
      }
      }
      .answer{
        padding-top: 35px;
        width: 32.9vw;
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 1.125rem;
        letter-spacing: 0.01em;
        color: #1B1C31;
        @media (max-width: 800px) {
          height: fit-content;
          width: 300px;
      }
      }
    }
    .faq{
      padding: 0 0 45px 30px;
      width: 50%;
      @media (max-width: 800px) {
        padding-top: 50px;
        padding-left: 0px; 
        width: fit-content;
    }
    }
  }
.faq-row-wrapper {
    .faq-body {
        .faq-row {
            .row-title {
              font-family: 'Manrope';
              font-size: 1.125rem;
              font-weight: 400;
            }
            .row-content {
                .row-content-text {
                  font-family: 'Manrope';
                  font-size: 1.125rem;
                }
            }
        }
    }
}
  