.FAQ__question {
    background: #F1F5F8;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 14px;
    background-color: #F1F5F8;
  }
  
  .FAQ__question:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .FAQ__answer--hidden {
    display: none;
    background: #F1F5F8;
  }

  .main-faq{
    display: flex;
    flex-flow: row;
    height: 498px;
    padding: 110px 106px 10px 74px;
    background: #F1F5F8;
    .content{
      width: 50%;
      padding:35px 30px 0 0;
      .question{
        height: 109px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        line-height: 64px;
        color: #000000;
      }
      .answer{
        padding-top: 35px;
        height: 74px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.01em;
        color: #1B1C31;
      }
    }
    .faq{
      padding-left: 30px;
      width: 50%;
    }
  }
  