.main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12.4vw;
    height: 29.54px;
    background: #E1593E;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 12px 8px 15px;
    @media (min-width: 1380px) {
        max-width: 475px;
    }
    .content{
        color: white;
    }
    .arrow{
        color: white;
    }
    @media (max-width: 800px) {
        width: 120px;
        // margin-left: -40px;
    }
}
.req-btn{
    width: 30.5vw;
}