.main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12.4vw;
    height: 2.5rem;
    background: #E1593E;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 12px 8px 15px;
    cursor: pointer;
    @media (min-width: 1380px) {
        max-width: 475px;
    }
    .content{
        color: white;
        font-size: "manrope";
        font-size: 1rem;
    }
    .arrow{
        color: white;
    }
    @media (max-width: 800px) {
        width: 150px;
        height: 1.5rem;
    }
}
.req-btn{
    @media (max-width: 800px) {
        height: 2.5rem;
    }
}