.main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 37.54px;
    background: #E1593E;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 12px 8px 15px;
    .content{
        color: white;
    }
    .arrow{
        color: white;
    }
}