$finalHeight: 270px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}
.main-features{
    background: linear-gradient(180deg, #011054 0%, #1344A4 100%);
    height: 24rem;
    padding: 35px 0 20px 0;
    .features{
        display: flex;
        flex-flow: column;
        @media (max-width: 800px) {
          flex-flow: column;
      }
        .content{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            .head{
                color: white;
                text-align: center;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 55px;
                padding-bottom: 10px;
            }
            .about{
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: white;
                text-align: center;
                padding: 0 40px 10px 40px;
            }
        }
        .rotation{
            padding: 35px 0 0 0;
            .horizontal-scroll-wrapper {
                width: 300px;
                max-height: 98vw;
                overflow-y: auto;
                overflow-x: hidden;
                transform: rotate(-90deg) translateY(-$finalHeight);
                transform-origin: right top;
                & > div {
                  display: block;
                  padding: 5px;
                  transform: rotate(90deg);
                  transform-origin: right top;
                }
              }
              .squares {
                // padding: $finalHeight 0 0 10px;
                & > div {
                  height: 187px;
                  margin: 120px 0;
                  background: #FFFFFF;
                  box-shadow: 0px 16px 54px rgba(0, 0, 0, 0.08);
                  border-radius: 10px;
                }
                .box{
                  .items{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-flow: column;
                  padding: 10px;
                  gap:10px;
                  .icon{
                    height: 46px;
                    width: 46px;
                  }
                  .item-head{
                    height: 27px;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    color: #000000;
                  }
                  .item-content{
                    height: 66px;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #000000;
                  }
                }}
              }
        }
    }
}

// HelpingIndustries

.main-help{
  display: flex;
  flex-flow: column;
  padding:35px 0 95px 0;
  .help{
    padding: 50px 240px 20px 67px;
    .help-head{
      height: 45px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      color: #000000;
    }
    .help-content{
      padding-top: 20px;
      height: 42px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
  }
  .box-square{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 35px 67px 40px 48px;
    @media (max-width: 800px) {
      flex-flow: column;
  }
    .single-box{
      width: 250px;
      height: 282px;
      border-top: 1px solid #000000;
      margin-right: 13px;
      .box-square-head{
        height: 22px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: left;
        color: #000000;
        padding: 20px 0 20px 0;
      }
      .box-square-content{
          height: 60px;
          width: 245px;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #000000;
          text-align: left;
      }
      .box-square-img{
        width: 241px;
        padding-top: 30px;
      }
    }
  }
}
// Implementation

.main-imp{
  display: flex;
  flex-flow: column;
  padding: 45px 35px 45px 35px;
  background: #F1F5F8;
  .imp{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 246px 0 246px;
    .imp-head{
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 800;
      font-size: 35px;
      line-height: 45px;
      text-align: center;
      color: #000000;
    }
    .imp-content{
      padding-top: 10px;
      text-align: center;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }
  }
  .imp-box{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 45px 50px 45px 50px;
    @media (max-width: 800px) {
        flex-flow: column;
    }
    .imp-box-single{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px 0 40px;
      .imp-box-circle{
        display: flex;
        flex-flow: column;
        justify-items: center;
        align-items: center;
        .big-circle{
        height: 138.5px;
        width: 138.5px;
        background: #C4C4C4;
        border-radius: 50%;
        }
        .small-circle{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-top: -26px;
        background: #E1593E;
        border: 2px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        }
      }
      .imp-box-head{
        text-align: center;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        color: #000000;
        padding: 25px 0 10px 0;
      }
      .imp-box-content{
        width: 300px;
        text-align: center;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
      }
    }
  }
  .imp-img{
    width: 50px;
    padding-top: 45px;
  }
}