/*===== Variable Define =====*/
:root {
  /* font family */
  --primary-font: "manrope";

  /* font size */
  --font-size40: 2.5rem;
  --font-size30: 1.875rem;
  --font-size24: 1.5rem;
  --font-size22: 1.375rem;
  --font-size20: 1.25rem;
  --font-size18: 1.125rem;
  --font-size16: 1rem;
  --font-size14: 0.875rem;
  --font-size12: 0.75rem;
  --font-size10: 0.625rem;

  /* extra mobile fix fonts */
  --font-m-size20: 1.25rem;
  --font-m-size18: 1.125rem;
  --font-m-size14: 0.875rem;
  --font-m-size12: 0.75rem;
}

@media (min-width:1000px) and (max-width:1367px) {
 :root{
  --font-size40: 2.35rem;
  --font-size30: 1.762rem;
  --font-size24: 1.5rem;
  --font-size22: 1.375rem;
  --font-size20: 1.175rem;
  --font-size18: 1.056rem;
  --font-size16: 0.94rem;
  --font-size14: 0.875rem;
  --font-size12: 0.75rem;
  --font-size10: 0.625rem;
 }
}

.main-features {
  background: linear-gradient(180deg, #011054 0%, #1344a4 100%);
  height: auto;
  padding: 45px 0 20px 0;
  @media (max-width: 800px) {
    padding: 30px 0 45px 0;
  }
  .features {
    display: flex;
    flex-flow: column;
    .content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .head {
        color: white;
        text-align: center;
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: var(--font-size40);
        padding-bottom: 10px;
      }
      .about {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: var(--font-size18);
        color: white;
        text-align: center;
        padding: 0 40px 10px 40px;
      }
    }
    .rotation {
      .horizontal-scroll-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        & > div {
          display: block;
          padding: 5px;
        }
      }
      .squares {
        & > div {
          background: #ffffff;
          box-shadow: 0px 16px 54px rgba(0, 0, 0, 0.08);
          border-radius: 10px;
          height: 10rem;
          width: 17.7rem;
          margin: 2rem 2rem;
        }
        .box {
          .items {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 10px;
            gap: 10px;
            .icon {
              height: 46px;
              width: 46px;
            }
            .item-head {
              height: 1.688rem;
              font-family: var(--primary-font);
              font-weight: 700;
              font-size: var(--font-size20);
              text-align: center;
              color: #000000;
            }
            .item-content {
              height: 4.125rem;
              font-family: var(--primary-font);
              font-weight: 400;
              font-size: var(--font-size16);
              text-align: center;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

// HelpingIndustries

.main-help {
  display: flex;
  flex-flow: column;
  padding: 0 0 95px 0;
  .help {
    padding: 80px 360px 20px 50px;
    @media (max-width: 800px) {
      padding: 80px 40px 20px 40px;
    }
    .help-head {
      font-family: var(--primary-font);
      font-weight: 800;
      font-size: var(--font-size40);
      color: #000000;
    }
    .help-content {
      padding: 20px 180px 0 0;
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: var(--font-size18);
      color: #000000;
      @media (max-width: 800px) {
        padding: 20px 0 0 0;
      }
    }
  }
  .box-square {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 30px 20px 40px 20px;
    @media (max-width: 800px) {
      flex-flow: column;
      padding: 0px 20px 40px 20px;
      align-items: center;
    }
  }
}
// Implementation

.main-imp {
  display: flex;
  flex-flow: column;
  padding: 60px 35px 45px 35px;
  background: #f1f5f8;
  @media (max-width: 380px) {
    padding: 60px 55px 45px 35px;
  }
  .imp {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 246px;
    @media (max-width: 800px) {
      padding: 0;
    }
    .imp-head {
      font-family: var(--primary-font);
      font-weight: 800;
      font-size: var(--font-size40);
      text-align: center;
      color: #000000;
    }
    .imp-content {
      padding-top: 10px;
      text-align: center;
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: var(--font-size18);
      color: #000000;
    }
  }
  .imp-box {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 45px 50px 25px 50px;
    @media (max-width: 800px) {
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    .imp-box-single {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
      .imp-box-circle {
        display: flex;
        flex-flow: column;
        justify-items: center;
        align-items: center;
        .big-circle {
          height: 138.5px;
          width: 138.5px;
          background: #c4c4c4;
          border-radius: 50%;
        }
        .small-circle {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-top: -26px;
          background: #e1593e;
          border: 2px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-family: var(--primary-font);
          font-weight: 700;
          font-size: var(--font-size16);
        }
      }
      .imp-box-head {
        text-align: center;
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: var(--font-size20);
        color: #000000;
        padding: 25px 0 10px 0;
      }
      .imp-box-content {
        width: 23vw;
        text-align: center;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: var(--font-size16);
        color: #000000;
        @media (max-width: 800px) {
          width: 300px;
        }
      }
    }
  }
  .imp-img {
    width: 50px;
    padding-top: 45px;
    @media (max-width: 800px) {
      padding-bottom: 45px;
    }
  }
}

// Advantages

.main-adv {
  padding: 75px 30px 75px 30px;
  .adv {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    @media (max-width: 800px) {
      flex-flow: column;
    }
  }
}

// Template

.main-temp {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-flow: column;
  .temp-head {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: var(--font-size20);
    color: #000000;
    padding: 12px 0;
  }
  .temp-content {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-size16);
    color: #000000;
  }
  .temp-img {
    padding: 17px 10px;
  }
  .temp-img-ad {
    height: 45px;
  }
}
.benefit-temp {
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 16px 54px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 0px;
  margin-top: 10px;
  width: 22vw;
  @media (max-width: 800px) {
    width: 80vw;
  }
}
.benefit-cont {
  text-align: center;
  padding: 0 20px 25px 20px;
  font-size: var(--font-size16);
}
.benefit-head {
  font-size: var(--font-size18);
}

// Security

.main-security {
  display: flex;
  flex-flow: row;
  padding-bottom: 60px;
  @media (max-width: 800px) {
    flex-flow: column;
  }
  .security {
    width: 50%;
    display: flex;
    flex-flow: column;
    padding: 75px 0 0 75px;
    @media (max-width: 800px) {
      width: 90%;
      padding: 30px 20px 0 20px;
    }
    .sec-head {
      font-family: var(--primary-font);
      font-weight: 800;
      font-size: var(--font-size40);
      color: #000000;
      padding: 40px 40px 0 0;
      @media (max-width: 800px) {
        padding: 0;
        font-size: 32px;
      }
    }
    .sec-content {
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: var(--font-size18);
      color: #000000;
      padding: 25px 75px 25px 0;
      @media (max-width: 800px) {
        padding: 25px 0;
        font-size: 16px;
      }
    }
    .sec-button {
      display: flex;
      flex-flow: row;
      .btn {
        padding: 49px 50px 0 0;
        @media (max-width: 800px) {
          padding: 0;
        }
      }
      .vec {
        @media (max-width: 800px) {
          display: none;
        }
      }
    }
  }
  .security-img {
    padding: 30px 50px 0 0;
    width: 50%;
    .sec-img {
      width: 46.12vw;
      height: 50.7vh;
      @media (max-width: 800px) {
        width: 300px;
        height: 200px;
      }
      @media (min-width: 1400px) {
        height: 80vh;
      }
    }
  }
}

// Benefits

.main-benefits {
  display: flex;
  flex-flow: column;
  padding: 0 0 30px 0;
  .block-corner {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .benefits {
    display: flex;
    flex-flow: column;
    padding: 40px 115px 20px 53px;
    @media (max-width: 800px) {
      align-items: center;
      padding: 40px 50px 20px 50px;
    }
    .b-head {
      font-family: var(--primary-font);
      font-weight: 800;
      font-size: var(--font-size40);
      color: #000000;
    }
    .b-content {
      padding: 10px 0;
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: var(--font-size18);
      color: #000000;
      @media (max-width: 800px) {
        text-align: justify;
      }
    }
  }
  .benefits-box {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20px 46px 45px 46px;
    transition-delay: 1s;
    @media (max-width: 800px) {
      flex-flow: column;
      padding: 20px 0 45px 0;
      align-items: center;
    }
  }
}

// Industry

.main-industry {
  height: 16.438rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url("https://stage-cs-attachment.s3.ap-south-1.amazonaws.com/public/Frame+69+(1).svg"),
    #011054;
  @media (max-width: 800px) {
    height: 100%;
  }
  .ind-head {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: var(--font-size40);
    text-align: center;
    color: #ffffff;
    padding: 15px 20rem 0 20rem;
    @media (max-width: 1240px) {
      padding: 0;
      font-size: var(--font-size30);
    }
  }
  .ind-content {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--font-size18);
    text-align: center;
    color: #ffffff;
    padding: 10px 15.813rem;
    @media (max-width: 1240px) {
      padding: 10px 9.375rem;
    }
    @media (max-width: 800px) {
      padding: 10px 3.125rem;
    }
  }
  .ind-button {
    padding-top: 15px;
    @media (max-width: 800px) {
      padding:0;
    }
  }
}

// Demo

.main-demo {
  background: url("https://prod-cs-attachment.s3.ap-south-1.amazonaws.com/fc1c06ed-3dec-4079-b879-592a3747becc_Frame 81 (1).png"),
    #010f54;
  padding: 60px 0 60px 60px;
  .demo-box {
    width: 34.6vw;
    display: flex;
    flex-flow: column;
    background: url("https://prod-cs-attachment.s3.ap-south-1.amazonaws.com/93d14dee-c741-4129-874e-bf012f0bc092_Group 1000000796.png");
    border-radius: 15px;
    padding: 44px 39px 50px 55px;
    @media (min-width: 1380px) {
      max-width: 500px;
    }
    .demo-head {
      font-family: var(--primary-font);
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      color: #dee1e6;
    }
    .demo-content {
      font-family: var(--primary-font);
      font-weight: 800;
      font-size: var(--font-size30);
      letter-spacing: -0.03em;
      color: #ffffff;
      padding: 10px 0;
      @media (min-width: 800px) {
        font-size: var(--font-size24);
      }
    }
    .demo-input {
      padding: 10px;
      background: #fafafa;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      margin-top: 10px;
      width: 28vw;
      @media (min-width: 1380px) {
        max-width: 450px;
      }
    }
    .valid-email{
      padding-top: 10px;
      width: 13vw;
      font-size: 14px;
      font-family: var(--primary-font);
      color: red;
    }
    .demo-button {
      padding-top: 20px;
    }
  }
}

// Helping Template

.single-box-temp {
  width: 18.3vw;
  border-top: 1px solid #000000;
  @media (max-width: 800px) {
    margin-top: 13px;
    width: 250px;
  }
  .box-square-head {
    height: 3.8vh;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: var(--font-size20);
    text-align: left;
    color: #000000;
    padding: 20px 0;
    @media (max-width: 800px) {
      height: 22px;
    }
  }
  .box-square-content {
    height: 8.8vh;
    width: 17.9vw;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--font-size16);
    color: #000000;
    text-align: left;
    @media (max-width: 800px) {
      height: 60px;
      width: 245px;
    }
    @media (min-width: 1400px) {
      height: 12.8vh;
    }
  }
  .box-square-img {
    width: 18.2vw;
    padding-top: 30px;
    @media (max-width: 800px) {
      width: 249px;
    }
  }
}

// PrivateMeetings

.vector-down {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e3e6e9;
  .main-private {
    display: flex;
    flex-flow: row;
    padding: 9rem 1.25rem 2.5rem 1.25rem;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-flow: column;
    }
    .private {
      width: 50%;
      padding-top: 4.125rem;
      @media (max-width: 800px) {
        width: 100%;
        // background: url("https://prod-cs-attachment.s3.ap-south-1.amazonaws.com/45edd6e8-a2f8-4166-8e24-6a1c8e627bfd_Property 1=Frame 65.png");
      }
      .p-head {
        font-family: var(--primary-font);
        font-weight: 800;
        font-size: var(--font-size30);
        color: #000000;
        padding: 1.875rem 5.938rem 1.25rem 2.063rem;
        @media (max-width: 800px) {
          padding: 0;
        }
      }
      .p-content {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: var(--font-size18);
        letter-spacing: 0.01em;
        color: #000000;
        padding: 0 195px 20px 33px;
        @media (max-width: 800px) {
          padding: 15px 0 0 0;
        }
      }
    }
    .private-animate {
      position: relative;
      @media (max-width: 800px) {
        display: none;
      }
      .private-images {
        .ani1 {
          position: absolute;
          width: 25vw;
          height: 65.6vh;
          right: 22.5vw;
          top: -3vh;
        }
        .ani2 {
          height: 70vh;
          width: 25vw;
          padding-right: 3.2vw;
          transition-delay: 1s;
        }
        .ani3 {
          position: absolute;
          width: 21.5vw;
          height: 55.6vh;
          top: 2.6vh;
          right: 1.9vw;
          transition-delay: 2s;
        }
      }
    }
  }
  .com-head {
    position: absolute;
    top: 10rem;
    left: 3.3rem;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: var(--font-size40);
    color: #000000;
    @media (max-width: 800px) {
      top: 7rem;
      left: 1.3rem;
      width: 22rem;
    }
  }
}
