.main-header{
    padding: 32.42px 68.3px 24.74px 69.78px;
    box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.15);
    background-color: white;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}