.main-header{
    padding: 26px 51px 26px 51px;
    box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.15);
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1111;
    @media (max-width: 800px) {
    padding: 12px 15px 12px 20px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            padding-top: 5px;
            .logo{
                @media (max-width: 800px) {
                    width: 50vw;
                }
            }
        }
    }
}