.main-header{
    padding: 26px 51px 26px 51px;
    box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.15);
    background-color: white;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}