.main-footer{
    .footer{
        height: 68.26px;
        background: rgba(1, 15, 84, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            color: white;
        }
    }
}